.user {
    width: 247px !important;
    display: flex !important;
}

.avatar {
    width: 56px;
    height: 56px;
    margin-right: 20px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.info {
    font-size: 1.2rem;
}

.info span {
    color: #808191;
}