.wrapper {
    height: 56px;
    padding: 0 45px 0 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 16px;
    background: rgba(228, 228, 228, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    color: #808191;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    cursor: pointer;
}